@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// var
$lightBlue: #2bced6;
$lighestBlue: #2bcdd62d;
$darkBlue: #00adb5;

@tailwind base;
@tailwind components;
@tailwind utilities;

// nav bar && nav childrens stylings
.topNavLi {
   @apply p-2 cursor-pointer text-gray-300;
}
.sideBarMainNav {
   @apply text-3xl hover:text-darkBlue my-3  font-nav;
}
.sideBarMainNavMore {
   @apply text-xl hover:text-darkBlue  font-nav  ml-7 my-3 flex;
}
.sideBarUtilsChildren {
   @apply text-gray-500 text-sm pb-1 hover:text-darkBlue;
}

// input
.input {
   @apply border rounded-sm py-3 px-2 outline-none;
}
.inputBtn {
   @apply py-3 outline-none bg-darkBlue text-white;
}
.socialIcons {
   @apply border rounded-md p-1 hover:bg-gray-100 transition-all duration-150;
}

// bottom sm nav
.btmNavLi {
   @apply cursor-pointer flex flex-col justify-center items-center;
}
